# data05.parquet in multiple files

data05.parquet is to big, so i will split it in two

just for storage purposes, wont be using neither of those files

In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet("data05.parquet")
df

,aliases,news,keywords
companies,,,
Banco Comercial Português,"[Banco Comercial Português, BCP]",[{'ExtractedText': 'DN 13 de Setembro de 200...,"{'00h00': None, '03 Aug': None, '03 Mar': {'co..."
Galp Energia,"[Galp Energia, GALP]",[{'ExtractedText': 'RTP Galp reforça posição n...,"{'00h00': {'count': 7.0, 'date': {'201004': 1...."
EDP,"[EDP, Energias de Portugal, Electricidade de P...",[{'ExtractedText': 'DN-Sinteses Negocios 9 de ...,"{'00h00': {'count': 4.0, 'date': {'201004': No..."
Sonae,"[Sonae, SON]",[{'ExtractedText': 'DN-Sinteses 5 de Março de ...,"{'00h00': {'count': 3.0, 'date': {'201004': No..."
Mota-Engil,"[Mota-Engil, EGL]",[{'ExtractedText': 'RTP Lucro da Mota-Engil so...,"{'00h00': None, '03 Aug': None, '03 Mar': None..."

In [5]:
for row in range(len(df)):
    df0 = pd.DataFrame(df.iloc[row]).T
    df0.to_parquet(f"data05_0{row}.parquet")
df0

,aliases,news,keywords
Mota-Engil,"[Mota-Engil, EGL]",[{'ExtractedText': 'RTP Lucro da Mota-Engil so...,"{'00h00': None, '03 Aug': None, '03 Mar': None..."